UnityProject/New Unity Project/Library
UnityProject/New Unity Project/Temp
UnityProject/New Unity Project/Assembly-CSharp-vs.csproj
UnityProject/New Unity Project/Assembly-CSharp.csproj
UnityProject/New Unity Project/New Unity Project-csharp.sln
UnityProject/New Unity Project/New Unity Project.sln
UnityProject/New Unity Project/New Unity Project.userprefs
Builds/
UnityProject/New Unity Project/New Unity Project-csharp.v11.suo
UnityProject/New Unity Project/obj/
UnityProject/New Unity Project/.vs/New Unity Project-csharp/v14/.suo
